.Recommender {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

.Recommender .Form {
  width: 100%;
  padding: 10%;
  box-sizing: border-box;
}

.Recommender button{
  outline-style: none;
  background-color: lightgoldenrodyellow;
  margin: 10px 0px;
  width: 50%;
  max-width: 250px;
  align-self: center;
}

@media (min-width: 600px){
  .Recommender {
    width: 500px;
  }
}