.Recommending{
  padding-top: 56px;
  /* box-sizing: border-box; */
}

.Recommending .miniEl{
  width: 80%;
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
}

.Recommending .miniEl div {
  margin: 10px;
}

@media (min-width: 600px){
  .Recommending .miniEl{
    width: 500px;
  }
}