.AuthCont {
  padding-top: 56px;
}

.Auth {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  /* box-sizing: border-box; */
}

.Auth button{
  outline-style: none;
  background-color: lightgoldenrodyellow;
  margin: 10px 0px;
  font-family: inherit;
  padding: 10px 15px;
}

.Auth .Logout{
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.Auth .Error{
  margin: 10px 0;
  color: red;
  font-weight: bold;
  font-size: 0.8em;
}

.AuthSignUpTinyBar{
  font-size: 0.8em;
}

.AuthSignUpTinyBar div{
  display: inline;
  cursor: pointer;
  color: blue;
}

@media (min-width: 600px){
  .Auth {
    width: 500px;
  }
}