.Nutrition {
  margin: auto;
  width: 80%;
  text-align: center;
}

.Nutrition button,
.Nutrition button :focus{
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  min-width: 80px;
  display: inline-block;
  border-radius: 10px;
  outline-style: none;
}

.Danger {
  background-color: red;
  box-shadow: 0.5px 0.5px grey;
}

.Success {
  background-color: green;
  box-shadow: 0.5px 0.5px grey;
}

@media (min-width: 600px){
  .Nutrition{
    width: 500px
  }
}