.Nutrition {
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 56px 0;
}

.Nutrition button,
.Nutrition button :focus{
  font: inherit;
  padding: 15px;
  margin: 0 5px;
  min-width: 80px;
  display: inline-block;
  /* border-radius: 10px; */
  outline-style: none;
}

.Danger {
  color: red;
}

.Success {
  color: green;
}

@media (min-width: 600px){
  .Nutrition{
    width: 500px
  }
}